<section class="cta-form" id="cta-form">
    <div class="container">
        <p class="title">{{module.title}}</p>
        <div class="sending-form">
            {{ function('do_shortcode', '[contact-form-7 id="382" title="Request Form"]') }}
        </div>
       
        {# <form  class="sending-form" action="">
            <input type="email" name="nickname" id="" placeholder="{{module.nickname_label}}">
            <input type="text" name="Email" id="" placeholder="{{module.email_label}}">
            <input type="text" name="contact method" id="" placeholder="{{module.contact_method_label}}">
           
            <button type="submit">{{module.button_label}}</button>
        </form> #}
    </div>
</section>