<footer>
    <div class="container-full">
        <div class="upper-footer flex">
            <div class="logo col">
             <a href="/"><img src="{{options.footer_logo.url}}" alt="{{options.footer_logo.alt}}" class="footer-logo" width="4096" height="2304"></a> 
            </div>
            <div class="col">
                <div class="footer-menu">
                    <ul class="menu">
                        {% for item in options.footer_menu %}
                        <li class="menu-item"><a href="{{item.footer_menu_item.url}}">{{item.footer_menu_item.title}}</a></li>
                        
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="payment col">
                <p class="heading">{{options.payment_title}}</p>
                <div class="payments">
                    {% for payment in options.payment_systems %}
                    <img src="{{payment.payment_image.url}}" alt="{{payment.payment_image.alt}}" class="payment-image" width="4096" height="2304">
                    {% endfor %}
                </div>
                
            </div>
            <div class="social col ">
                <p class="social-title">{{options.social_title}}</p>
                <div class="socials flex">
                    {% for social in options.social_links %}
                    <a href="{{social.social_link.url}}" class="social-item"><img src="{{social.social_image.url}}" alt="{{social.social_image.alt}}" width="4096" height="2304"></a>
                    {% endfor %}
                </div>
               
            </div>
        </div>
        <div class="bottom-footer">
            <p class="copyright">{{options.copyright_text}}</p>
            <a href="{{options.privacy_link.url}}" class="privacy">{{options.privacy_link.title}}</a>
            
        </div>
    </div>
    <a href="#hero" class="arrow-back"></a>
</footer>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;500&display=swap" rel="stylesheet">
{# <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap" rel="stylesheet"> #}
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>